.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 171px;
  margin-left: 50px;
  margin-right: 50px;
  /* padding-top: 171px; */
}

.text {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text h1 {
  font-family: "Bakbak One";
  font-weight: 400;
  font-size: 48px;
  line-height: 141.5%;
  text-transform: uppercase;
  color: #ffffff;
  text-align: start;
}
.text h1 span {
  color: #ff0008;
}

.text p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #ffffff;
  text-align: start;
}

.imagecontainer {
  grid-column: 2;
  position: relative;
  /* background-color: #ff0008; */
}

.ellipse {
  background: #ffffff;
  filter: blur(49px);
  position: absolute;
  width: calc(90% - 20px);
  height: calc(10% - 20px);
  left: 35px;
  top: 70%;
  z-index: -1;
}

.image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: auto;
  width: 100%;
}
.btn {
  width: 243px;
  height: 56px;
  padding: 12px;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ff0008;
  transition: transform 0.2s linear 0s;
}

.btn:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .container {
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr;
  }
  .text {
    grid-row: 1;
    grid-column: 1;
  }
  .imagecontainer {
    grid-row: 2;
    grid-column: 1;
  }
}
