.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  padding-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

.text {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text h1 {
  font-family: "Bakbak One";
  font-weight: 400;
  font-size: 48px;
  line-height: 141.5%;
  text-transform: uppercase;
  color: #ffffff;
  text-align: start;
}
.text h1 span {
  color: #ff0008;
}

.text p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #ffffff;
  text-align: start;
}

.imagecontainer {
  grid-column: 1;
  position: relative;
  border: 2px solid #ff0008;
}

.image {
  height: auto;
  width: 90%;
}
.btn {
  width: 243px;
  height: 56px;
  padding: 12px;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ff0008;
  transition: transform 0.2s linear 0s;
}

.btn:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .container {
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .text {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }
  .imagecontainer {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
  }
}
